@charset "utf-8";
@import "~normalize.css";

$break: 40rem;
$padding-y: 1rem;
$padding-x: 1rem;
$trans: 0.3s;
$sidebar-size: 20rem;

$bg: #1d1d1d;
$fg: #f2f2f2;
$love: #d94770;
$input: mix($bg, $fg, 75%);
$input-hover: mix($bg, $fg, 50%);
$highlight: #ff972b;
$highlight-fg: $bg;

html {
  //font-size: 20px;
  font-family: sans-serif;
  background: $bg;
  color: $fg;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  color: inherit;
}
svg {
  fill: currentColor;
}

a {
  color: inherit;
}

.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

input[type="search"] {
  background: $input;
  &, ~ button {
    color: $fg;
    transition: background-color $trans ease, color $trans ease;
  }
  border: 0;
  border-radius: 99em;
  &::placeholder {
    color: rgba($fg, 0.5);
  }
  &:hover {
    background: $input-hover;
  }
  &:focus {
    outline: none;
    background: $highlight;
    &, ~ button {
      color: $highlight-fg;
    }
    &::placeholder {
      color: rgba($highlight-fg, 0.5);
    }
  }
}
form {
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0 2rem 0 0.75rem;
  }
  button {
    color: transparent;
    width: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    border-radius: 0 99em 99em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: .9rem;
      height: .9rem;
    }
  }
}

body {
  min-height: 100vh;
}
body, 
nav {
  display: flex;
  flex-direction: column;
}
nav {
  flex-grow: 1;
}
nav ul,
main {
  flex-grow: 1;
}

nav header {
  padding: $padding-y $padding-x;
  margin: 0;
}
nav ul,
main {
  padding: 0 $padding-x;
  margin: 0;
}
main {
  position: relative;
}
#player {
  margin: 0 -1 * $padding-x;
  position: relative;
  width: calc(100% + #{$padding-x * 2});
  padding-top: calc((100% + #{$padding-x * 2}) / 16 * 9);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

ul,
li {
  display: block;
  list-style: outside none;
}

nav header {
  display: flex;
  form {
    flex-grow: 1;
  }
  #toggle {
    flex-shrink: 0;
  }
}

#toggle {
  padding: 0;
  margin: 0 0 0 0.5rem;
  background: $input;
  transition: background-color $trans ease;
  border: 0;
  color: transparent;
  width: 2rem;
  height: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 99em;
  color: inherit;
  &:hover {
    background: $input-hover;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 1rem;
    height: 1rem;
  }
}

#saved,
main {
  display: none;
}

main > p {
  text-align: center;
}

html[data-view="play"] {
  nav {
    flex-grow: 0;
  }
  main {
    display: block;
  }
  #results,
  #saved {
    display: none;
  }
}

html[data-view="saved"] {
  #saved {
    display: block;
  }
  #results {
    display: none;
  }
  #toggle {
    background-color: $love;
    color: $fg;
  }
}

@keyframes spin { 100% { transform: rotate(360deg); } }
html.search-loading {
  #results {
    position: relative;
    &:before {
      content: '';
      animation: spin 1s linear infinite;
      display: block;
      position: absolute;
      top: 2rem;
      left: calc(50% - 2.5rem);
      width: 5rem;
      height: 5rem;
      border: 0.25rem solid currentColor;
      border-top-color: transparent;
      border-left-color: transparent;
      border-radius: 50%;
    }
  }
}

@media (min-width: $break) {
  body {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    flex-grow: 0;
    flex-shrink: 0;
    width: $sidebar-size;
  }
  main {
    display: block;
    flex-grow: 1;
  }
  nav ul,
  main {
    overflow: auto;
  }
  main {
    .details {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      > :not(:first-child) {
        margin-left: $padding-x;
      }
    }
  }
  html[data-view="play"] {
    #results {
      display: block;
    }
  }
}