@charset "utf-8";

//@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

$white: #FFF;
$yellow: #EBE772;
$navy: #1B1947;
$green: #9EBE53;
$palegrey: #E1E1E1;
$semiblack: rgba(#000, 0.5);

$family-sans-serif: "Lato", sans-serif;
$primary: $green;
$link: $navy;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $palegrey;

$navbar-item-color: $white;
$navbar-item-hover-color: $navbar-item-color;
$navbar-item-hover-background-color: $semiblack;

$custom-colors: (
	"semiblack": ($semiblack, $white)
);

@import "~bulma/bulma";

.hero {
	background: linear-gradient(180deg, rgba(40, 42, 36, 0.5) 0%, rgba(40, 42, 36, 0) 27.62%), linear-gradient(0deg, rgba(40, 42, 36, 0.2), rgba(40, 42, 36, 0.2)), url('/img/hero.jpg') center/cover no-repeat;
	color: $white;
	.hero-body-inner {
		$perc: 20%;
		padding-top: $perc;
		padding-bottom: $perc;
		.title {
			font-size: calc(2vw + 2rem);
		}
		.subtitle {
			font-size: calc(1.25vw + 1.25rem);
		}
		$outerlimit: $desktop - $container-offset;
		@media (max-width: calc($outerlimit - 1.5rem)) {
			.title {
				font-size: calc(2vw + 2rem);
			}
			.subtitle {
				font-size: calc(1.25vw + 1.25rem);
			}
		}
	}
}


.navbar-item.is-hidden-desktop {
	padding: 0;
	margin-left: auto;
	margin-right: 0.25rem;
	+ .navbar-burger {
		margin-left: 0;
		&:hover {
			background-color: $navbar-item-hover-background-color;
		}
	}
	.button {
		padding: 0.25rem 0.5rem;
	}
}
@media (max-width: $tablet) {
	.navbar-brand > .logo {
		max-width: 40%;
	}
}